<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Properties>
        <Property name="logDir">logs</Property>
        <Property name="pattern">
            %d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n
        </Property>
    </Properties>

    <Appenders>

        <!-- Console Appender -->
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern}"/>
        </Console>

        <!-- File Appender -->
        <File name="FileAppender"
              fileName="${logDir}/automation.log"
              append="true">
            <PatternLayout pattern="${pattern}"/>
        </File>

        <!-- Rolling File Appender -->
        <RollingFile name="RollingFileAppender"
                     fileName="${logDir}/rolling-automation.log"
                     filePattern="${logDir}/rolling-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${pattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="5 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="7"/>
        </RollingFile>

    </Appenders>

    <Loggers>

        <!-- Root Logger -->
        <Root level="info">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="RollingFileAppender"/>
        </Root>

    </Loggers>

</Configuration>
